# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# Windows keyboard layouts need utf-16le-bom or everything breaks
[*.klc]
charset = utf-16le
indent_style = tab
end_of_line = crlf
trim_trailing_whitespace = false
max_line_length = off
insert_final_newline = false

[*.keylayout]
indent_size = 2

[*.{md,apib}]
indent_size = 4
# In Markdown a trailing double space is interpreted as <br>
trim_trailing_whitespace = false
max_line_length = off

[*.{patch,diff}]
trim_trailing_whitespace = false
max_line_length = off

[*.{py,java,r,R}]
indent_size = 4
