pkgbase = xkb-qwerty-fr
	pkgdesc = French qwerty keymap - provides a keymap for french users of qwerty keyboard. All French characters are directly accessible with AltGr and smartly mapped.
	pkgver = 0.5
	pkgrel = 2
	url = http://marin.jb.free.fr/qwerty-fr/
	install = xkb-qwerty-fr.install
	arch = any
	license = GPL2
	makedepends = binutils
	depends = xkeyboard-config
	source = http://marin.jb.free.fr/qwerty-fr/xkb-qwerty-fr_0.5_all.deb
	md5sums = cefc7f02f2a23633d1160c32caa6c132

pkgname = xkb-qwerty-fr

