Package: xkb-qwerty-fr
Version: 0.7.2
Section: x11
Priority: optional
Architecture: all
Depends: xkb-data, perl
Suggests: x11-xkb-utils
Conflicts: xkb-data-legacy
Installed-Size: 100
Homepage: https://github.com/qwerty-fr/qwerty-fr
Maintainer: Paul <devnoname120@gmail.com>
Description: French qwerty keymap
 This package provide a keymap for french users of qwerty keyboard.
 All French characters are directly accessible with AltGr and smartly mapped.
 You also can compose french characters using dead keys with AltGr to.
 A man page (man qwerty-fr) describes the keymap.
